<div style="text-align: center">
    <img src="public/img/chrome.png" style="width:100px"><br>

<h2>To participate in this study you must use Google Chrome</h2><br>

<h3>If you have Chrome installed on your computer, please log into to SONA using the Chrome browser to participate in this study.<br>
    If you wish, you can install Google Chrome by following <a href="https://www.google.com/chrome/">this link</a>.</h3>
</div>


